<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minesweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Minesweeper.Properties.Settings>
            <setting name="totalGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalWins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="easyGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="easyWins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="easyBestTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mediumGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mediumWins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mediumBestTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hardGames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hardWins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hardBestTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="playSounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NUMROWS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NUMCOLS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIMER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NUMMINES" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CHECKEDBUTTONS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FLAGCOUNTER" serializeAs="String">
                <value>0</value>
            </setting>
        </Minesweeper.Properties.Settings>
    </userSettings>
</configuration>